.chat-screen__message-display__wrapper {
  padding: 0;
  flex-grow: 1;
  height: 40vh;
  overflow-y: auto;
}

::-webkit-scrollbar {
  width: 10px;
  background-color: #d8d2cb;
}

::-webkit-scrollbar-thumb {
  background: var(--color-primary);
}

.chat-screen__message-display {
  padding: 1rem;
}
.message-div {
  width: 35%;
  background-color: var(--color-light);
  color: var(--color-dark);
  padding: 1rem;
  border-radius: 10px;
  margin-bottom: 0.7rem;
  -webkit-border-radius: 10px;
  -moz-border-radius: 10px;
  -ms-border-radius: 10px;
  -o-border-radius: 10px;
}
.message-div:not(.myself) {
  clear: right;
}
.message-div.myself {
  float: right;
  background-color: var(--color-primary);
  color: var(--color-light);
}
.message-div.myself {
  clear: right;
}
.message-div > p {
  word-spacing: 4px;
  line-height: 24px;
}
